<!--Laxmi Kandel -->
<!--January 16 2020-->
<!--Finding Your date (website)-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/dating.css">
    <title>Dating Site</title>
</head>
<body>
<div class="container-fluid">
    <p class="h3 ml-3 mt-2">Find Love &hearts;  <a class= "float-lg-right" href="admin.php">Admin</a></p>

</div>
