<!--Laxmi Kandel -->
<!--January 16 2020-->
<!--Finding Your date (website)-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/dating.css">
    <title>Dating Site</title>
</head>
<body>
<div class="container-fluid">
    <p class="h3 ml-3 mt-2">Find Love &hearts;</p>
</div>
<div class="container border mt-3 clearfix">
    <h1 class="ml-3 mt-4 mb-0">Interests</h1>
    <hr class="mt-0">
    <div class="ml-3">
        <form action="summary" method="post">
            <label class="font-weight-bold mt-2"> In-door Interests</label>
            <div class="row">
                <repeat group="{{ @indoor }}" value="{{ @indoorOptions }}">
                    <div class="col-lg-3">

                        <label><input type="checkbox" class="form-check-inline
                                      name="indoor[]"
                                      value="{{ @indoorOptions }}">{{ ucfirst(@indoorOptions) }}
                        </label><br>
                    </div>
                </repeat>
            </div>
            <!--row closed -->
            <label class="font-weight-bold mt-2"> Out-door Interests</label>
            <div class="row">
                <repeat group="{{ @outdoor }}" value="{{ @outdoorOptions }}">
                    <div class="col-lg-3">

                        <label><input type="checkbox" class="form-check-inline"
                                      name="outdoor[]"
                                      value="{{ @outdoorOptions }}">{{ ucfirst(@outdoorOptions) }}
                        </label><br>
                    </div>
                </repeat>

            </div>
            <!--row closed -->
            <div class="btn float-lg-right">
                <button type="submit" class="btn btn-primary mb-4">Next>></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>