/*<!--Laxmi Kandel -->*/
/*<!--January 16 2020-->*/
/*<!--Finding Your date (website)-->*/
.h4
{
    text-indent: 45px;

}
.indent{
    text-indent: 90px;
}
.image
{
    height: 400px;
    width: 450px;
}
.btn {
    text-align: center;
}
.h3
{
    background-color:lightgray;
    opacity: 0.5;
}
.textArea{
    height:200px;
    width: 300px;
    font-size:14pt;
}
.select{
    height: 30px;
}
.img{
    height: 150px;
    weidth:290px;
}