body{
    background-color: lightskyblue;
}
.h4
{
    text-indent: 45px;

}
.indent{
    text-indent: 90px;
}
.image
{
    height: 400px;
    width: 450px;
}
.btn {
    text-align: center;
}
.h3
{
    background-color:lightgray;
}